<div class="usa-grid view-profile">
  <div class="usa-grid-full">
    <!--<div class="usa-alert usa-alert-success" ng-class="{isVisible: homeController.success}">-->
      <!--<div class="usa-alert-body">-->
        <!--<h3 class="usa-alert-heading">Success Status</h3>-->
        <!--<p class="usa-alert-text">Point allotted successfully.</p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="usa-alert usa-alert-warning" ng-class="{isVisible: homeController.success}">-->
      <!--<div class="usa-alert-body">-->
        <!--<h3 class="usa-alert-heading">Warning Status</h3>-->
        <!--<p class="usa-alert-text">Point was not allocated.</p>-->
      <!--</div>-->
    <!--</div>-->

    <h1>Give a point</h1>
    <h4>All fields required.</h4>

    <form class="usa-form">
      <fieldset>

        <label for="name-select">Name</label>
        <select id="name-select" name="name-select" ng-model="homeController.selectedPersonName" required="true">
          <option ng-repeat="user in homeController.allProfiles track by $index" value="{{user.id}}">{{user.fullName}}</option>
        </select>

        <label for="category-select">Category</label>
        <select id="category-select" name="category-select" ng-model="homeController.selectedCategory" required>
          <option ng-repeat="category in homeController.pointCategories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <label for="input-type-comments">Comments</label>
        <textarea id="input-type-comments" ng-model="homeController.messageText" name="input-type-comments" required>{{homeController.messageText}}</textarea>

        <div class="button_wrapper">
          <button class="usa-button-outline" type="button">Cancel</button>
          <button ng-click="homeController.submitForm()">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
