<div class="styleguide-content usa-content">
  <div class="usa-width-one-third">
    <img id="u50_img" class="img " src="vendor/dhs/img/profile/profile_picture_u50.png">
    <div style="top: 108px; transform-origin: 106px 0px 0px;" id="u51" class="text">
      <p><span></span></p>
    </div>
    <div id="u30" class="ax_h1">
      <img id="u30_img" class="img " src="vendor/dhs/img/profile/transparent.gif"/>
      <div id="u31" class="text">
        <p><span>John Doe</span></p>
      </div>
    </div>
  </div>
  <div class="usa-width-two-thirds">

  </div>

</div>
