<div class="usa-grid">
  <div class="usa-width-one-third profilePic">
    <img class="img" src="vendor/dhs/img/profile/profile_picture_u50.png">
  </div>
  <div class="usa-width-two-thirds">
    <h1>Edit My Profile</h1>
    <span>First name</span><span class="float-right">Required</span>
    <div class="ax_text_field">
      <input value="" type="text">
    </div>

    <span>Middle name</span>
    <div class="ax_text_field">
      <input value="" type="text">
    </div>

    <span>Last name</span><span class="float-right">Required</span>
    <div class="ax_text_field">
      <input value="" type="text">
    </div>

    <span>Department</span>
    <div class="ax_text_field">
      <input value="" type="text">
    </div>

    <span>City</span>
    <div class="ax_text_field">
      <input value="" type="text">
      <span>State</span>
      <div class="usa-form float-right viewSelect">
        <select name="options" id="options">

        </select>
      </div>

    </div>
  </div>
</div>


