<div class="usa-grid" ng-controller="EditProfileController">
  <div class="usa-width-one-third profilePic">
    <img class="img" src="vendor/dhs/img/profile/profile_picture_u50.png">
  </div>
  <div class="usa-width-two-thirds editGrid">
    <h1>Edit My Profile</h1>
    <div class="usa-width-one-half">
      <form ng-model="editProfileController.editProfileForm" ng-submit="editProfileController.submitForm" class="usa-form" name="editProfileForm">
        <fieldset>
          <legend>Edit My Profile</legend>
          <div ng-class="{'usa-input-error' : editProfileForm.firstName.$error.minlength}">
            <label for="firstName" ng-class="pull-left">
              First Name
            </label>

            <span ng-show="editProfileForm.$submitted || editProfileForm.firstName.$touched"
                  class="usa-input-error-message" role="alert"
                  id="firstNameErrMsg">
              <span ng-show="editProfileForm.firstName.$error.minlength">Enter your first name</span>
            </span>
            <span class="usa-additional_text">
              Required
            </span>
            <input type="text"
                   id="firstName"
                   ng-model="editProfileController.user.firstName"
                   aria-required="true" ng-minlength="1"
                   aria-describedby="firstName"
                   name="firstName"
                   required />
          </div>
        </fieldset>
      </form>




      <span>First name</span><span class="float-right">Required</span>
      <div>
        <input value="" type="text">
      </div>

      <span>Middle name</span>
      <div>
        <input value="" type="text">
      </div>

      <span>Last name</span><span class="float-right">Required</span>
      <div>
        <input value="" type="text">
      </div>

      <span>Department</span>
      <div>
        <input value="" type="text">
      </div>

      <div class="usa-grid">
        <div class="usa-width-one-half">
          <span>City</span>
          <div class="editCity">
            <input value="" type="text">
          </div>
        </div>
        <div class="usa-width-one-half">
          <span class="stateSpan">State</span>
          <div class="usa-form float-right editSelect">
            <select name="options" value="1">
            </select>
          </div>
        </div>
      </div>

      <span>Phone</span>
      <span>For example 123-456-7890</span>
      <div>
        <input value="" type="text">
      </div>

      <span>Email</span>
      <div>
        <input value="" type="text">
      </div>

      <span>Work Anniversary Date</span>
      <div>
        <span class="stateSpan">Month</span>
        <div class="usa-form editSelect">
          <select name="options" value="5">
          </select>
          <span class="stateSpan">Day</span>

          <select name="options" value="30">
          </select>

          <span class="stateSpan">Year</span>

          <select name="options" value="1976">
          </select>
        </div>
      </div>

      <span>Birthday</span>
      <div>
        <span class="stateSpan">Month</span>
        <div class="usa-form editSelect">
          <select name="options" value="5">
          </select>
          <span class="stateSpan">Day</span>

          <select name="options" value="30">
          </select>

          <span class="stateSpan">Year</span>

          <select name="options" value="1976">
          </select>
        </div>
      </div>
      <input type="radio"/> Private
      <input type="radio"/> Public
    </div>
  </div>
</div>
</div>
