/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 * To override any variables in USWDS, place them immediately following
 * this comment block
 */
$font-path: '../assets/fonts';


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

.usa-skipnav {
  background: transparent;
  color: #212121;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
  &:focus {
    background: #ffffff;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
  }
}

ul {
  li {
    label {
      color: #000;
    }
  }
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.float-right {
  float: right;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  .navbar-nav > li > a {
    color: #ffffff;
    font-size: 13px;
  }
}

