<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div class="topbar">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <img class="img" src="img/us_flag_small.png"/>
      <h6>Official Website of the Department of Homeland Security</h6>
      <ul class="float-right">
        <!--<li><a>Help</a></li>
        <li> | </li>
        <li><a>Login</a></li>-->
      </ul>
    </div>
  </div>
</div>
<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo" id="logo">
      <em class="usa-logo-text">
        <a href="#" accesskey="1" title="Home" aria-label="Home">Site Name</a>
      </em>
    </div>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="/img/close.svg" alt="close">
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <li ng-repeat="component in layoutController.componentPages track by $index">
          <a class="usa-nav-link"
             ui-sref="{{component.name}}">
             {{ component.title }}
          </a>
        </li>
        <!--<li>-->
          <!--<a class="usa-nav-link" href="#">-->
            <!--<span>Home</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a class="usa-nav-link" href="#">-->
            <!--<span>Profile</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-3">-->
            <!--<span>Section title</span>-->
          <!--</button>-->
          <!--<ul id="sidenav-3" class="usa-nav-submenu" aria-hidden="true">-->
            <!--<li>-->
              <!--<a href="#">Subsection title</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Subsection title</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Subsection title</a>-->
            <!--</li>-->
          </ul>
        </li>
      </ul>
      <div class="usa-nav-secondary">
        <!--<form class="usa-search usa-search-small js-search-form">
          <div role="search">
            <label class="usa-sr-only" for="search-field-small">Search small</label>
            <input id="search-field-small" type="search" name="search">
            <button type="submit">
              <span class="usa-sr-only">Search</span>
            </button>
          </div>
        </form>-->
        <ul class="usa-unstyled-list usa-nav-secondary-links">
          <!--<li class="js-search-button-container">
            <button class="usa-header-search-button js-search-button">Search</button>
          </li>-->
          <li>
            <a href="#/">Help</a>
          </li>
          <li>
            <a href="#/">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="usa-grid-full navigationBar">-->
      <!--<aside class="usa-width-one-fourth">-->
        <!--<ul class="nav navbar-nav usa-sidenav-list">-->
          <!--<li ng-repeat="component in layoutController.componentPages track by $index">-->
            <!--<p class="navbar-text"><a class="navbar-link" ng-attr-class="{{$index == 0 && 'usa-current'}}" ng-click="layoutController.setPageSelected(component)">{{ component.title }}</a></p>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</aside>-->
      <!--<div class="usa-width-one-forth">-->
        <!--<div class="main-content right-content" id="main-content">-->
          <!--<div ui-view="content" class="layout-content flex-height-content container"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </nav>
</header>


<div class="usa-overlay"></div>
<main id="main-content" ui-view="content"></main>

  <footer-template></footer-template>
