<div id="u0" class="brandBannerBg">
  <img id="u10_img" class="img " src="vendor/dhs/img/profile/brand_bar_flag_u10.png"/>
  <p><span>Official Website of the Department of Homeland Security</span></p>
</div>
<div class="container-fluid header-bg">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="usa-grid">
          <div class="usa-width-one-fourth">1/4</div>
          <div class="usa-width-one-half">1/4</div>
          <div class="usa-width-one-fourth">1/4</div>
        </div>
      </div>
      <img src="assets/bootstrap.png" alt="">
    </div>
  </div>
</div>
<div class="flex-height" id="main-layout">
  <div ui-view="content" class="layout-content flex-height-content"></div>
</div>