.header-anchors {
  li {
    display: inline;
    color: #fff;

    a {
      color: #fff;
    }
  }
  margin-top: -12px;
}

#header img {
  padding-top: 5px;
  padding-left: 20px;
}

.logo-header {
  padding: 0px !important;
  margin: 0px !important;
  .logo {
    width: auto !important;
  }
}

.site-header {
  color: #fff;
  h2 {
    margin-top: 20px !important;
    margin-left: -13px !important;
    font-weight: 100 !important;
  }
}

.main-content {
  margin-top: 30px;
}

.header-navigation {
  li {
    display: inline;
    padding-right: 20px;
    color: #fff;
  }

}

